/* Setting background image for document */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* Additional class styling */
.heading{
    padding: 20px;
    background-color: #6b9080ff;
    color: #eaf4f4ff;
    margin-bottom: 10px;
}

.leftCol {
    background-color: #eaf4f4ff;
}

.search{
    color:  rgb(48, 61, 56);
}

.mag{
    width: 25px;
}

.card {
    background-color: #6b9080ff ;
    padding: 10px;
    color: #eaf4f4ff;
}

.current{
   background-color:  #eaf4f4ff;
   color:  rgb(47, 59, 54);
}

.icon{
    width: 35px;
}

.icon5d{
    width: 20px;
}