header{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
}
.main{
    margin: 30px;
}
.city {
    font-weight: bold;
}
.date {
    font-weight: bold;
}
.leftCol {
    float: left;
}
.current {
    background-color: white;
}
.comingFive {
   
}

.card {
  margin: 5px; 
}

.rain{
    content: '\26C8';
    font-size: 50px;

}
.clouds{
    content: '\2601';
    font-size: 50px;

}
.clear{
    content: '\2600';
    font-size: 50px;

}
